* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('background.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.logo {
  color: orange;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

nav ul li a:hover {
  color: orange;
}

.content {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.content h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content span {
  color: orange;
}

.content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #ddd;
}

.btn {
  display: inline-block;
  background-color: orange;
  color: black;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  background-color: #ffb84d;
}
